<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="com.ajurczyk.software.imudriver.impl.ImuFilteredReader">
        <property name="compensationFile" value="/opt/ajurczyk/quad/config/compensation.properties"/>
    </bean>

    <bean id="i2cController" class="com.ajurczyk.hardware.i2c.impl.Pi4jI2c"/>

    <bean id="accGyro" class="com.ajurczyk.hardware.gyroacc.impl.Mpu6050">
        <constructor-arg ref="i2cController"/>
    </bean>

    <bean class="com.ajurczyk.software.imudriver.impl.ImuDriver"/>

</beans>