<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="i2cController" class="hardware.i2c.impl.Pi4jI2c"/>
    <bean id="accGyro" class="hardware.gyroacc.impl.Mpu6050">
        <constructor-arg ref="i2cController"/>
    </bean>
    <bean class="software.imudriver.impl.ImuDriver">
        <constructor-arg ref="accGyro"/>
    </bean>

</beans>